.top-brands {
  padding-top: 30px;
}

.top-brands-cover {
  height: 150px;
  width: 150px;
  border-radius: 10%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 8%) 0px 3px 12px;
  border: 0.5px solid;
}

.top-brands-image {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
